.cards {
  display: grid;
  max-width: 880px;
  margin: 50px 0 67px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px 17px;
}

.card {
  max-width: 282px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__image {
  width: 100%;
  height: 100%;
}

.card__image:hover {
  cursor: pointer;
  opacity: 0.5;
}

.card__info {
  display: flex;
  justify-content: space-between;
  max-width: 246px;
  padding: 25px 15px 31px 21px;
  align-items: center;
}

.card__like_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
}

.card__like_count {
  font-family: Inter, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2;
  color: #000;
  margin: 3px 0 0;
}

.card__text {
  color: #000;
  font-family: Inter;
  font-weight: 900;
  font-size: 24px;
  line-height: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  width: 200px;
}

.card__button {
  color: #fff;
}

.card__button_trash {
  position: absolute;
  top: 18px;
  right: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 1;
}

.card__button_trash:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card__button_trash_image {
  width: 18px;
  height: 19px;
}

.card__button_like {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  border: none;
  padding: 0;
  background-image: url("../images/Like.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 21px;
  height: 19px;
}

.card__button_like_active {
  background-image: url("../images/Like_active.png");
}

.card__button_like:hover {
  opacity: 0.5;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .cards {
    max-width: 282px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 20px;
    margin: 35px 0 50px;
  }
}

@media screen and (max-width: 543px) {
  .cards {
    max-width: 282px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 20px;
    margin: 35px 0 50px;
  }
}
