.content {
  max-width: 880px;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  margin: 0 auto;
}

.content__profile {
  max-width: 880px;
  display: flex;
  width: 100%;
  margin: 0;
}

.content__image {
  border-radius: 50%;
  max-width: 120px;
  height: 120px;
  margin: 0 30px 0 0;
}

.content__info {
  max-width: 415px;
  display: flex;
  flex-direction: column;
}

.content__name {
  max-width: 373px;
  font-family: Inter;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.1;
  margin: 22px 0 0;
}

.content__job {
  max-width: 415px;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  margin: 15px 0 0;
}

.content__button {
  color: #fff;
  cursor: pointer;
}

.content__button_edit {
  background-color: transparent;
  border-width: 1px;
  border-color: #fff;
  width: 24px;
  height: 24px;
  margin: 37px 165px 0 18px;
}

.content__button_edit:hover {
  opacity: 0.5;
  cursor: pointer;
}

.content__button_edit_image {
  width: 10px;
  height: 10px;
}

.content__button_add {
  background-color: #000;
  border-width: 2px;
  border-color: #fff;
  width: 150px;
  height: 50px;
  margin: 35px 0;
}

.content__button_add:hover {
  opacity: 0.5;
  cursor: pointer;
}

.content__button_add_image {
  width: 22px;
  height: 22px;
}

.content__avatar_container {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.content__avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__button_avatar_edit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;

  background-image: url("../images/Edit_button.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px;
  opacity: 0;
}

.content__avatar_container:hover .content__button_avatar_edit {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
}

@media screen and (max-width: 1023px) {
  .content {
    max-width: 282px;
    padding-top: 42px;
    margin: 0 auto;
  }

  .content__profile {
    max-width: 282px;
    flex-direction: column;
    position: relative;
  }

  .content__image {
    margin: 0 auto 30px;
  }

  .content__info {
    max-width: 282px;
  }

  .content__name {
    font-family: Inter;
    font-weight: 500;
    font-size: 22px;
    line-height: 1;
    text-align: center;
    margin: 0 10px 14px 0;
  }

  .content__job {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    margin: 0 0 36px;
  }

  .content__button {
    color: #fff;
  }

  .content__button_edit {
    position: absolute;
    top: 150px;
    right: 16px;
    width: 18px;
    height: 18px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content__button_edit_image {
    width: 7px;
    height: 7px;
  }

  .content__button_add {
    width: 282px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .content__button_add_image {
    width: 16px;
    height: 16px;
  }
}

@media screen and (max-width: 543px) {
  .content {
    max-width: 282px;
    padding-top: 42px;
    margin: 0 auto;
  }

  .content__profile {
    max-width: 282px;
    flex-direction: column;
    position: relative;
  }

  .content__image {
    margin: 0 auto 30px;
  }

  .content__info {
    max-width: 282px;
  }

  .content__name {
    font-family: Inter;
    font-weight: 500;
    font-size: 22px;
    line-height: 1;
    text-align: center;
    margin: 0 10px 14px 0;
  }

  .content__job {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    margin: 0 0 36px;
  }

  .content__button {
    color: #fff;
  }

  .content__button_edit {
    position: absolute;
    top: 150px;
    right: 16px;
    width: 18px;
    height: 18px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content__button_edit_image {
    width: 7px;
    height: 7px;
  }

  .content__button_add {
    width: 282px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .content__button_add_image {
    width: 16px;
    height: 16px;
  }
}
